/* Exemple de fond pour la classe pages-regles */
.pages-regles {
  background-image: url('/assets/armoiries/virimian_old.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: white; /* Optionnel : pour améliorer la lisibilité */
}

.pages-regles .main-content {
  background-color: rgba(0, 0, 0, 0.6); /* Ajout d'un fond semi-transparent pour le texte */
  padding: 2rem;
  border-radius: 12px;
}